* {
    font-family: Helvetica;
}

body {
  position: relative;
  background-color: rgb(144, 206, 237);
  margin: 0;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-ice-cream {
  width: 120%;
}

.container {
  position: absolute;
  z-index: 100;
}

@media screen and (max-width: 450px){
  h2 {
    font-size: 1em;
  }
  
  .bg-ice-cream {
    width: 540px;
  }
  
  .text-box {
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.7);
    width: 80%;
    margin: 10% auto;
    padding: 5% 0;
  }
  
  #title {
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
    width: 25%;
  }

  #scream {
    margin: 0 auto;
    text-align: center;
    width: 60%;
  }    
}


@media screen and (min-width: 451px){
  #title {
    margin: 15% auto 0 auto;
    text-align: center;
    width: 25%;
    color: #fff;
  }

  #scream {
    margin: 0 auto;
    text-align: center;
    width: 60%;
    color: #fff;
  }    
}